body {
  background-color: lightgray;
  color: #333;
  font-family: 'Open Sans', sans-serif;

}

main {
  padding-left: 2rem;
}

h1,
h2,
h3 {
  color: #007acc;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.5;
  margin-bottom: 1.5em;
}

footer {
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
}

@media (min-width: 1024px) {

  /* stijl voor grote schermen */
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {

  /* stijl voor middelgrote schermen */
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {

  /* stijl voor kleine schermen */
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }
}

.knop {
  background-color: #007acc;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.knop:hover {
  background-color: #005f99;
}

.knop:visited,
.knop:link,
.knop:active,
.knop:hover {
  color: #fff;
}



.bg {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, blue 0%, aqua 25%, aqua 51%, green 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}